*{
    margin: 0; 
    padding: 0;
}

nav.top-menu{
    width: 100%;
    height: 57px;
    background: whitesmoke;
    position: fixed;
    top: 0;
}
.top-menu ul{
    margin-left: 17%;
}
.top-menu ul li{
    float: left;
    list-style: none;
}
.top-menu ul li a{
    text-decoration: none;
    display: block;
    padding: 16px 18px;
    color: black;
    font-family: tahoma;
    font-weight: bold;
}
.home {
    width: 100%;
    height: 800px;
    background: url(./images/1.jpg);
    background-attachment: fixed; 
    /* Ä‘á»ƒ khi cuá»™n chuá»™t lÃªn nhÆ° lÃ  che láº¥p áº£nh ná»n cá»§a home */
    background-size: cover;
}
.content1, .content2, .content3, .content4 {
    height: 800px;
    padding: 50px 0;
    text-align: center;
    color: gray;
}
.chapter{
    height: 1000px;
    background-size: cover;
}
.chapter-1{
    background-image: url(./images/Chapter-1.jpg);
}
.chapter-2{
    background-image: url(./images/Chapter-2.jpg);
}
.chapter-3{
    background-image: url(./images/Chapter-3.jpg);
}
.chapter-4{
    background-image: url(./images/Chapter-4.jpg);
}
h2.chu-to {
    color: white;
    font-size: 290px;
    font-family: tahoma;
    margin-left: 10%;
    padding-top: 610px;
}
.comeback{
    color: black;
    border-radius: 4px;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: white;
}